@using MvcOnlineTicariOtomasyon.Models.Sınıflar;
@model List<Invoices>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<h2>Index</h2>

<table class="table table-bordered" style="margin-top:20px; margin-left:20px; ">

    <tr>
      
        <th>Seri Sıra No</th>
    

        <th>Tarih</th>
        <th>Saat</th>
    
        <th>Toplam</th>
        <th>Güncelle</th>
        <th>Teslim Detaylar</th>
        <th>PopUp Liste</th>
        <th>Yeni Kalem</th>
    </tr>
    @foreach (var item in Model)
    {

        <tr>

            <td>@item.FaturaSeriNo @item.FaturSıraNo</td>

            <td>@item.Tarih</td>
            <td>@item.Saat</td>
      
            <td>@item.Toplam</td>
            <td><a class="btn btn-success" href="/Fatura/FaturaGetir/@item.FaturaID">Güncelle</a></td>
            <td><a class="btn btn-default" href="/Fatura/FaturaDetay/@item.FaturaID" style="background-color:darkcyan; color:white;">Detay</a></td>
            <td><a class="btn btn-default" href="/Fatura/FaturaDetay/@item.FaturaID" style="background-color:darkslategrey; color:white;">PopUp Liste</a></td>
            <td><a class="btn btn-default" href="/Fatura/FaturaDetay/@item.FaturaID" style="background-color:gray; color:white;">Yeni Kalem</a></td>
        </tr>

    }

</table>

<a style="width:150px;" href="/Fatura/FaturaEkle" role="button" class="btn btn-primary btn-lg">Yeni Fatura Eklee</a>
<br />
<br />
<button class="btn btn-primary" style="background-color:aquamarine" data-toggle="modal" data-target="#Modal1" type="button">PopUp Penceresi</button>

<div class="modal" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Popup Dialog Ekranı</h2>
            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                    <tr>
                        <td>Seri No</td>
                        <td>Sıra No</td>
                        <td>Tutar</td>
                    </tr>
                    @foreach(var x in Model) {
                    <tr>
                        <td>@x.FaturaSeriNo</td>
                        <td>@x.FaturSıraNo</td>
                        <td>@x.Toplam</td>
                    </tr>
                    }
                </table>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Tamam</button>
            </div>
        </div>
    </div>
</div>
